/*Responsive for deskptop*/

@media screen
and (max-width: 768px)
and (min-width:415px){
  * {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
  }

  .navbar-header button {
    margin-top: 16px;
  }
  section.home,
  .normal-search,
  .normal-buy,
  section.intro-video,
  section.view,
  section.description,
  section.pitch,
  section.scenic,
  section.partners,
  section.testimonials,
  section.product,
  section.purchase,
  section.pitch,
  section.scenic,
  section.home-responsive-414 ,
  section.home-responsive-mobile,
  section.view-responsive-mobile,
  section.description-responsive-mobile,
  section.partners-responsive,
  section.product-responsive-mobile,
  section.purchase-responsive-mobile

  {

    display: none ;

  }


  section.home-responsive,
  section.intro-video-responsive,
  section.view-responsive,
  section.description-responsive,
  section.pitch-responsive,
  section.scenic-responsive,
  section.partners-responsive,
  section.apps-list,
  section.testimonials-responsive,
  section.product-responsive,
  section.purchase-responsive,
  section.subscribe,
  .responsive-nav{

    display: block;

  }

  section.home-responsive {
    
    


  } 

  section.apps-list .apps-list-container .text-content {
    width: 60%;
  }


  section.home-repsonsive section.image-frame .image-container{
    position: relative;


  }

  section.home-responsive section.image-frame .product img{
    height: 100%;
    width: 100%;
    z-index: -1;

  }

  section.home-responsive section.image-frame .product{
    position: relative;
    bottom: calc(2% - 15vw);
  }
  section.home-responsive section.image-frame {
    width: 100%;
    height: 700px;
    background-color: #e3e3e3;
    background: url("../images/clone/background.png") no-repeat;
    background-size: 100% 100%;
    bottom: calc(1% - 5vw);
  }

  section.home-responsive .image-place{

    height: 500px;
    width: 100%;


  }

  section.home-responsive .content-frame{

    height: 570px;


  }
  section.home-responsive .content-frame .content-description{
    position: relative;
    height: 100%;
  }
  section.home-responsive .content-frame .content-description .more .btn{
    width: 200px;
  }

  .subscribe-handle{
    width: 100% !important;
  }

  section.intro-video-responsive .video-container{

    height: 285px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  section.intro-video-responsive .video-container .overlay{
    width: 100%;
    height: 100%;
    background: #3a4248;
    position: absolute;
    top:0;
    opacity: 0.6;
    text-align: center;
  }
  section.intro-video-responsive .video-container .overlay .play{
    color: #fff;
    width: 136px;
    opacity: 1;
  }

  section.intro-video-responsive .video-container .overlay .play a{
    font-size: 90px;
    font-weight: lighter;
    color: #fff;


  }
  section.intro-video-responsive .video-container video{
    width: 100%;
  }

  section.view-responsive {

    height: 920px;
    position: relative;
  }

  section.view-responsive .view-content-container{
    width: 100%;
    height: 800px;
    bottom: 0;

  }

  section.view-responsive .text-content{
    width: 55%;
    text-align: center;
    margin: 0 auto;
  }
  section.view-responsive .text-content p{
    font-size: 25px;
    font-weight: lighter;
  }

  section.view-responsive .image-content{
    float: left;
    position: absolute;
    bottom: -27px;


  }
  section.view-responsive .image-content img{

    width: 95%;
  }

  section.view-responsive ul.features {

    font-size: 20px;
    font-weight: 500;
    margin-top: 35px;
  }

  section.view-responsive ul.features li{
    line-height: 2
  }

  section.description-responsive{
    z-index: 1;
    margin-bottom: -25px;

  }
  section.description-responsive .description-container {

    position: relative;

  }
  section.description-responsive .description-image{

    height: 700px;
    width: 100%;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/plain-wood.png") no-repeat;
    background-size: cover;
    background-position: 30% 40%;
    z-index: 1
  }
  section.description-responsive .image-content{
    transform: translate(-10%, -10%);
    left: 25%;
    top: 25%;
    position: absolute;
  }
  section.description-responsive .text-content{
    width: 75%;
  }

  section.description-responsive section.description-content{
    height: 665px;
    background: #a0adbd;
    color: #fff;
    position: relative;
    z-index: -1;
    margin-top: -25px;
    font-size: 18px;
  }

  section.description-responsive .text-content .title {

    font-size: 30px;
    font-weight: 800;
  }

  section.description-responsive .more{
    margin-top: 30px;


  }
  section.description-responsive .more .btn{
    border-color: #fff;
  }
  section.pitch-responsive {

    height: 1600px;
  }
  section.pitch-responsive section.pitch-image{
    height: 1000px;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/pitch_768.jpg") no-repeat;
    background-size: cover;
    background-position: 30% 40%;

  }
  section.pitch-responsive section.pitch-content{
    position: relative; 
    height: 600px;
    font-size: 18px;
  }
  section.pitch-responsive section.pitch-content p.title{
    font-size: 30px;
    font-weight: 800;
  }
  section.pitch-responsive section.pitch-content .text-content{
    width: 75%;
  }

  section.scenic-responsive {

    height: 1600px;

  }

  section.scenic-responsive section.scenic-image {

    height: 1000px;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/scenic_768.jpg") no-repeat;
    background-size: cover;
    background-position: 30% 40%;


  }
  section.scenic-responsive section.scenic-content{

    position: relative;
    height: 625px;
    background: #a0adbd;
    color: #fff;


  }
  section.scenic-responsive section.scenic-content .text-content{
    width: 75%;
    font-size: 18px;

  }
  section.scenic-responsive section.scenic-content p.title{

    font-size: 30px;
    font-weight: 800;

  }
  section.scenic-responsive section.scenic-content .more .btn {
    border-color: #fff;
    width: 150px;
    margin-top: 15px;
  }
  section.scenic-responsive section.scenic-content {
    z-index: -1;
    margin-top: -25px;

  }
  section.partners-responsive{
    height: 1600px;
    margin-top: -25px;
  }
  section.partners-responsive section.partners-image{
    height: 1025px;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/partners_768.jpg") no-repeat;
    background-size: cover;
    background-position: 30% 40%;

  }

  section.partners-responsive section.partners-content{

    height: 625px;
    background: #a0adbd;
    color: #fff;
    position: relative;
    margin-top: -25px;
    z-index: -1;
  }
  section.partners-responsive section.partners-content .text-content{
    width: 75%;
    font-size: 18px;

  }
  section.partners-responsive section.partners-content .text-content .more .btn{
    border-color: #fff;
    width: 150px;
    margin-top: 15px;
  }
  section.partners-responsive section.partners-content p.title{
    font-size: 30px;
    font-weight: 800;
  }

  section.apps-list {

    z-index: -999;
  }

  section.testimonials-responsive {
    height: 384px;
    background: #fff;
  }

  section.testimonials-responsive .testimonials-container {
    height: 384px;
    position: relative;

  }

  section.testimonials-responsive .testimonials-container{
    color: #101010;
  }
  section.testimonials-responsive .image-container {
    /*background: #fff*/
    text-align: center;
    padding-bottom: 30px;
  }
  section.testimonials-responsive .image-container img{
    width: 245px;
  }
  section.testimonials-responsive .text-content{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  section.testimonials-responsive .testimonials-content{
    width: 605px;
    height: 180px;

  }



  section.product-responsive{
    height: 655px;
    position: relative;
    background: #eff0f1;

    font-size:30px;

  }
  section.product-responsive a{
    font-size: 100px;
  }
  section.product-responsive .product-list {


    width: 90% !important;
   
  }

  section.product-responsive .product-list ul{
    text-align: center;
    margin-left: 65px;
  }
  section.product-responsive .product-list li {
    display: inline-block;
    margin-right: 150px;
  }
  section.product-responsive .product-list li img{

  }
  section.product-responsive .product-list{
    width: 300px;
  }

  section.product-responsive .bottom-nav {
    bottom: 30px;
    height: 40px;
  }
  section.product-responsive .bottom-nav li{
    display: inline-block;
    margin-left: 10px;
  }
  section.product-responsive .bottom-nav .circle-nav{
    border-radius: 22px;


  }
  section.product-responsive .bottom-nav .circle-inner{
    width: 32px;
    height: 32px;
    border-radius: 22px;
    margin: 0 auto;
    /*border: 2px solid #fff;*/
  }
  section.product-responsive .bottom-nav .circle-nav{
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 1.5px;
    border: 2px solid #CCCACA
  }

  section.product-responsive .left-nav , section.product .right-nav {
    height: 100%;
    width: 50px;
  }
  section.product-responsive .left-nav a{
    color: #DCDCDC;
    width: 50px;
  }
  section.product-responsive .left-nav a:hover{
    color: #DCDCDC;
    text-decoration: none;
  }
  section.product-responsive .left-nav {

    font-size: 60px;
    margin-left: 30px;
    color: #cecccc;

  }
  section.product-responsive .right-nav a{
    color: #B7B7B7;
    width: 50px;
  }
  section.product-responsive .right-nav {
    font-size: 60px;
    right: 0;
    top: 0;
    position: absolute;
    /*color: #cecccc;*/
  }

  section.product-responsive .right-nav {
    height: 100%;
    width: 50px;
  }

  section.purchase-responsive {
    height: 800px;
    position: relative;
    display: block;
  }
  section.purchase-responsive .text-content{
    text-align: center;
  }
  section.purchase-responsive .text-content p {
    font-size: 25px;
  }
  section.purchase-responsive .text-content h2{
    font-size: 40px;
    font-weight: 800;
  }
  section.purchase-responsive .text-content .more .btn{
    width: 155px;
    border: none;
    background: #009cff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    -webkit-box-shadow: 0px 5px 12px 1px #7dccfe;
    -moz-box-shadow: 5px 0px 12px 1px #7dccfe;
    box-shadow: 0px 5px 12px 1px #7dccfe;
    padding: 10px;
    margin-top: 30px;
  }
  section.subscribe {
    height: 590px;
  }

  section.subscribe {
    position: relative;
    height: 330px;
    background-color: #0069d2;
  }
  section.subscribe .subscribe-container{
      color: #fff;
  }

  section.subscribe .subscribe-container .text-content{
    width: 600px;
    text-align: center;
  }
  section.subscribe .subscribe-container .text-content .para{
    width: 100%;
    margin:0;
    padding-bottom: 30px;
    font-size: 16px;
  }

  section.subscribe .subscribe-handle input[type=text]{
    border-radius: 22px;
    width: 300px;
    display: inline;
    float: left;
  }

  .navbar-default{

      background: #fff;
      border: none;

    }
  .footer-container{
    /*display: none;*/

    padding: 0;
  }

  .footer-container .foot-hold{
    margin: 20px 0 0 40px;

  }
  .footer-container .foot-hold .column-1 {

    padding-bottom: 10px;

  }

  [class^="column-"] {

      margin-bottom: 40px;

  }

  footer {

    font-size: 20px
  }

  footer .footer-container {
    height: 750px;

  }
  footer .footer-container .column-1 .content-container{
    padding: 0;
  }

  .column-1, .column-2, .column-3, .column-4{

    width: 50%;
    float: left;
    padding: 5px;


  }

  .view .text-responsive li{
    line-height: 2;
    font-size: 18px;
    font-weight: 500;
  }


/*Hack for bootstrap */
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
      float: none;
      margin: 15px 0;
  }
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }


}

@media screen
and (max-width: 768px){
  .normal-search,
  .normal-buy{
    display: none !important;
  }
  .navbar-default{

      background: #fff;
      border: none;

    }

    .responsive-nav{
      display: block;
    }

  .responsive-nav ul {
    right: 70px;

  }
  .responsive-nav ul li{

    display: inline;
    padding: 0 10px 0 10px;

  }


  .responsive-nav a{

    font-size: 30px;


  }
  .navbar-header button {
    margin-top: 16px;
  }

}














@media screen
and (max-device-width: 414px){ 
  section.home,
  .normal-search,
  .normal-buy,
  section.intro-video,
  section.view,
  section.description,
  section.pitch,
  section.scenic,
  section.partners,
  section.testimonials,
  section.product,
  section.purchase,
  section.pitch,
  section.scenic,
  section.home-responsive, 
  section.view-responsive,
  section.description-responsive,
  section.pitch-responsive,
  section.scenic-responsive,
  section.partners-responsive,
  section.apps-list,
  section.testimonials-responsive,
  section.product-responsive,
  section.purchase-responsive,
  
  .responsive-nav,
  section.home-responsive .tablet,
  section.product-responsive{

    display: none;

  }


  section.product-responsive-mobile{
    display: none !important;
  }

  section.home-responsive-mobile,
  section.intro-video-responsive,
  section.view-responsive-mobile,
  section.description-responsive-mobile,
  section.pitch-responsive,
  section.scenic-responsive,
  section.apps-list-responsive-mobile,
  section.testimonials-responsive,
  section.product-responsive-mobile,
  section.subscribe,
  section.purchase-responsive-mobile
  {
    display: block !important;
  }

  section.intro-video-responsive  video{
    object-fit: inherit;
    height: 285px;
  }



  section.home-responsive-mobile .image-frame {
    height: 600px;
    background-color: #e3e3e3;
    background: url("../images/clone/Mobile/Landing_hero_phone_414.jpg") no-repeat;
    background-size: 100% 100%;
    
  }
  section.home-responsive-mobile .content-frame {
    position: relative;
    height: 570px;
  } 
  section.home-responsive-mobile .content-frame img{

  }



  section.intro-video-responsive .video-container{

    height: 285px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  section.intro-video-responsive .video-container .overlay{
    width: 100%;
    height: 100%;
    background: #3a4248;
    position: absolute;
    top:0;
    opacity: 0.6;
    text-align: center;
  }
  section.intro-video-responsive .video-container .overlay .play{
    color: #fff;
    width: 136px;
    opacity: 1;
  }

  section.intro-video-responsive .video-container .overlay .play a{
    font-size: 90px;
    font-weight: lighter;
    color: #fff;


  }
  section.intro-video-responsive .video-container video{
    width: 100%;
  }

  section.view-responsive-mobile {

    height: 760px;
    position: relative;
  }


  section.view-responsive-mobile .view-content-container{
    width: 100%;
    height: 760px;
    bottom: 0;

  }

  section.view-responsive-mobile .text-content{
    width: 55%;
    text-align: center;
    margin: 0 auto;
    padding-top: 30px;

  }
  section.view-responsive-mobile  .text-content p{
    font-size: 25px;
    font-weight: lighter;
  }

  section.view-responsive-mobile  .image-content{
    float: left;
    position: absolute;
    bottom: -27px;
    width: 100%;


  }
  section.view-responsive-mobile  .image-content img{

    width: 95%;
  }

  section.view-responsive-mobile  ul.features {

    font-size: 20px;
    font-weight: 500;
    margin-top: 35px;
  }

  section.view-responsive-mobile  ul.features li{
    line-height: 2
  }


  section.description-responsive-mobile{
    z-index: 1;
    margin-bottom: -25px;

  }
  section.description-responsive-mobile .description-container {

    position: relative;

  }
  section.description-responsive-mobile .description-image{

    height: 600px;
    width: 100%;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/plain-wood.png") no-repeat;
    background-size: cover;
    background-position: 30% 40%;
    z-index: 1
  }
  section.description-responsive-mobile .image-content{
    transform: translate(-25%, -7%);
    left: 25%;
    top: 25%;
    position: absolute;


  }
  section.description-responsive-mobile .text-content{
    width: 75%;
  }

  section.description-responsive-mobile section.description-content{
    height: 700px;
    background: #a0adbd;
    color: #fff;
    position: relative;
    z-index: -1;
    margin-top: -25px;
    font-size: 18px;
  }

  section.description-responsive-mobile .text-content .title {

    font-size: 30px;
    font-weight: 800;
  }

  section.description-responsive-mobile .more{
    margin-top: 30px;


  }
  section.description-responsive-mobile .more .btn{
    border-color: #fff;
  }

  section.pitch-responsive {

    height: 1044px;

  }
  section.pitch-responsive section.pitch-image{
    height: 444px;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/pitch_768_mobile.jpg") no-repeat;
    background-size: 100% auto;
    

  }
  section.pitch-responsive section.pitch-content{
    position: relative; 
    height: 600px;
    font-size: 18px;
  }
  section.pitch-responsive section.pitch-content p.title{
    font-size: 30px;
    font-weight: 800;
  }
  section.pitch-responsive section.pitch-content .text-content{
    width: 75%;
  }

 section.scenic-responsive {

    height: 1014px;

  }


  section.scenic-responsive section.scenic-image {

    height: 414px;
    background-color: #fef;
    transform: skewY(-3.5deg);
    background: url("../images/clone/scenic_768_mobile.jpg") no-repeat;
    background-size: 100% auto;
    


  }
  section.scenic-responsive section.scenic-content{

    position: relative;
    height: 625px;
    background: #a0adbd;
    color: #fff;


  }
  section.scenic-responsive section.scenic-content .text-content{
    width: 75%;
    font-size: 18px;

  }
  section.scenic-responsive section.scenic-content p.title{

    font-size: 30px;
    font-weight: 800;

  }
  section.scenic-responsive section.scenic-content .more .btn {
    border-color: #fff;
    width: 150px;
    margin-top: 15px;
  }
  section.scenic-responsive section.scenic-content {
    z-index: -1;
    margin-top: -25px;

  }


  section.apps-list-reponsive-mobile{

    height: 549px;
    display: block; 

  }

  section.apps-list-reponsive-mobile section.apps-list-bg{
    position: absolute;
    z-index: -9999;
    transform: skewY(-9.5deg);
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
  }
  section.apps-list-reponsive-mobile section.apps-list-container {
    position: relative;
    height: 375px;
  }
  section.apps-list-reponsive-mobile section.apps-list-container .text-content{
    width: 75%;
  }
  section.apps-list-reponsive-mobile section.image-content {
    height: 174px;
  }
  section.apps-list-reponsive-mobile section.image-content img{
    width: 100%;
  }

   section.testimonials-responsive {
    height: 384px;
    background: #fff;
  }

  section.testimonials-responsive .testimonials-container {
    height: 384px;
    position: relative;

  }

  section.testimonials-responsive .testimonials-container{
    color: #101010;
  }
  section.testimonials-responsive .image-container {
    /*background: #fff*/
    text-align: center;
    padding-bottom: 30px;
  }
  section.testimonials-responsive .image-container img{
    width: 50%;
  }
  section.testimonials-responsive .text-content{
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }
  section.testimonials-responsive .testimonials-content{
    width: 100%;
    height: 180px;

  }




  section.product-responsive-mobile{
    height: 655px;
    position: relative;
    background: #eff0f1;

    font-size:30px;

  }
  section.product-responsive-mobile a{
    font-size: 100px;
  }
  section.product-responsive-mobile .product-list {


    width: 90% !important;
   
  }

  section.product-responsive-mobile .product-list ul{
    text-align: center;
    
  }
  section.product-responsive-mobile .product-list ul img{
    width: 90%;
  }
  section.product-responsive-mobile .product-list li {
    display: inline-block;
    
  }
  section.product-responsive-mobile .product-list li img{

  }
  section.product-responsive-mobile .product-list{
    width: 300px;
  }

  section.product-responsive-mobile .bottom-nav {
    bottom: 30px;
    height: 40px;
  }
  section.product-responsive-mobile .bottom-nav li{
    display: inline-block;
    margin-left: 10px;
  }
  section.product-responsive-mobile .bottom-nav .circle-nav{
    border-radius: 22px;


  }
  section.product-responsive-mobile .bottom-nav .circle-inner{
    width: 32px;
    height: 32px;
    border-radius: 22px;
    margin: 0 auto;
    /*border: 2px solid #fff;*/
  }
  section.product-responsive-mobile .bottom-nav .circle-nav{
    width: 40px;
    height: 40px;
    background: #fff;
    padding: 1.5px;
    border: 2px solid #CCCACA
  }

  section.product-responsive-mobile .left-nav , section.product .right-nav {
    height: 100%;
    width: 50px;
  }
  section.product-responsive-mobile .left-nav a{
    color: #DCDCDC;
    width: 50px;
  }
  section.product-responsive-mobile .left-nav a:hover{
    color: #DCDCDC;
    text-decoration: none;
  }
  section.product-responsive-mobile .left-nav {

    font-size: 60px;
    margin-left: 30px;
    color: #cecccc;

  }
  section.product-responsive-mobile .right-nav a{
    color: #B7B7B7;
    width: 50px;
  }
  section.product-responsive-mobile .right-nav {
    font-size: 60px;
    right: 0;
    top: 0;
    position: absolute;
    /*color: #cecccc;*/
  }

  section.product-responsive-mobile .right-nav {
    height: 100%;
    width: 50px;
  }


  section.purchase-responsive-mobile {
    height: 430px;
    position: relative;
  }
  section.purchase-responsive-mobile .text-content{
    text-align: center;
  }
  section.purchase-responsive-mobile .text-content p {
    font-size: 22px;
  }
  section.purchase-responsive-mobile .text-content h2{
    font-size: 35px;
    font-weight: 800;
  }
  section.purchase-responsive-mobile .text-content .more .btn{
    width: 155px;
    border: none;
    background: #009cff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    -webkit-box-shadow: 0px 5px 12px 1px #7dccfe;
    -moz-box-shadow: 5px 0px 12px 1px #7dccfe;
    box-shadow: 0px 5px 12px 1px #7dccfe;
    padding: 10px;
    margin-top: 30px;
  }
  section.purchase-responsive-mobile .purchase-container{
    margin-top: 100px;
  }

  section.subscribe {
    position: relative;
    height: 330px;
    background-color: #0069d2;
  }
  section.subscribe .subscribe-container{
      color: #fff;
      width: 100%;
  }

  section.subscribe .subscribe-container .text-content{
    width: 100%;
    text-align: center;
  }
  section.subscribe .subscribe-container .text-content .para{
    width: 75%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  section.subscribe .subscribe-handle input[type=text]{
    border-radius: 22px;
    width: 100%;
    display: inline;
    float: left;
    margin-bottom: 10px;

  }
  section.subscribe .subscribe-container h2{

    font-size: 20px;
  }
  section.subscribe .subscribe-container p{
    font-size: 14px !important;
  }
  .subscribe-handle{

    /*display: inline;*/
    width:80%;
    min-height: 55px;
    margin-left: 0;
    transform: translateX(-50%);
    left:50%;
    position: absolute;
  }
  section.subscribe .subscribe-handle button{
    top: 50px;
    margin-left:0;
  }
  footer {

    font-size: 20px
  }

  footer .footer-container {
    height: 750px;

  }
  footer .footer-container .column-1 {
    height: 240px;
  }
  footer .footer-container .column-1 .content-container{
    padding: 0;
  }
  .column-1, .column-2, .column-3, .column-4{

    width: 50%;
    float: left;
    padding: 5px;
    margin-bottom: 20px;

  }
}


