/*Responsive*/


@media only screen
and (max-device-width: 768px){

      .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }


  body {

  }

  .description .text-content,
  .description,
  .home .description,
  .pitch .pitch-container,
  .scenic .scenic-container, section.product, section.purchase,
  .normal-search,
  .normal-buy, .partners-container .text-content{

    display: none !important; 

  }



  .home-responsive,
  .description-responsive, 
  .description-responsive-image,
  .description-responsive-content,
  .pitch-responsive,
  section.product-responsive,
  .responsive-nav,
  .scenic-responsive-content,
  .partners-responsive
  {

    display: block !important;

  }



  .home-responsive{
    height: 573px;
    position: relative;
    
  }

  .home-responsive .description-responsive{

  
    min-height: 286.5px;
  }

  .home-responsive .more .btn{
    width: 180px;
  }

  .description-responsive-image{

    min-height: 1016px;
    position: relative;
  }

  .description-responsive-image{

    width: 100%;
    height: 100%;
    background-color: #fef;
    transform: skewY(-3.5deg);
    margin-top: -35px;
    background: url("../images/clone/plain-wood.png") no-repeat;
    background-size: cover;
    background-position: 30% 40%;
    z-index: 1
  }

  .description-responsive-image .image-content img{

    transform: translate(-50%, -50%);
    left:50%;
    top: 50%;
    position: absolute;
    width: 660px;
    margin-top: -80px;
  }

  .description-responsive-content{

    background: #9facbc;
    color: #fff;
    min-height: 700px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    margin-top: -28px;

  }
  .description-responsive-content .title,
  .pitch-responsive .title,
  .scenic-responsive-content .title,
  .partners-responsive .title{
    font-size: 35px;
    font-weight: bold;
    width: 400px;

  }
  .description-responsive-content .text-content{
    width: 80%;
    font-size: 20px;
    font-weight: lighter;
    height: 450px;
  }

  .description-responsive-content .more button{
    margin-top: 30px;
    width: 200px;
    padding: 15px;
    border-radius: 30px;

    border-color: #fff;

  }


  .content-container .product img{

    width: 80%;
    transform: translate(-50%, -50%);
    left:50%;
    top: 50%;
    position: absolute;
  }


  .pitch-responsive{

    position: relative;
    min-height: 680px;

  }

  .pitch-responsive .pitch-container{

    height: 400px;
    width: 80%;

  }

  .pitch-responsive .more button{

    margin-top: 30px;
    width: 200px;
    padding: 15px;
    border-radius: 30px;

  }

  .scenic-responsive-content{
    height: 680px;
    position: relative;
    background: #9facbc;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

  }

  .scenic-responsive-content .text-content{
    width: 80%;
    font-size: 20px;
    font-weight: lighter;

  }
  .scenic {
    margin-bottom: -75px;
    z-index: 1;
  }

  .scenic-responsive-content .more button{

    margin-top: 30px;
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    border-color: #fff;
  }


  .scenic-responsive-content .scenic-container{
    height: 450px;
    width: 100%;

  }

  .partners-responsive {

    position: relative;
    height: 670px;
    color: #fff;
    margin-top: -23px;
    background: #9facbc;
  
  }
  .partners-responsive .partners-container .text-content{
    display: block !important;
    width: 80%;
  }

  .partners-responsive .partners-container{
    height: 100%;
    display: block;
    width: 80%;
    font-size: 20px;
    font-weight: lighter;
    font-family: 'Open Sans', sans-serif;

  }

  .partners-responsive .more button{

    margin-top: 30px;
    width: 200px;
    padding: 15px;
    border-radius: 30px;
    border-color: #fff;
  }

  .apps-list-container .text-content{

    width: 80% !important;
    font-size: 20px;  

  }

  .apps-list-container .image-content{
    height: 431px;
  }

  .apps-list-container .text-content{
    height: 324px !important;

  }

  section.pitch-responsive .text-content{

      line-height: 1 !important;
  }
  section.pitch .pitch-bg{
    width: 100%;
    height: 100%;
    transform: skewY(-3.5deg);
    background: url("../images/clone/trainer_new.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -90px;
  }
  section.product-responsive{
    height: 655px;
    position: relative;
    background: #eff0f1


  }
  section.product-responsive .product-list {


    width: 90% !important;
   
  }

section.product-responsive .product-list ul{
  text-align: center;
  margin-left: 65px;
}
section.product-responsive .product-list li {
  display: inline-block;
  margin-right: 150px;
}
section.product-responsive .product-list li img{

}
section.product-responsive .product-list{
  width: 300px;
}

section.product-responsive .bottom-nav {
  bottom: 30px;
  height: 40px;
}
section.product-responsive .bottom-nav li{
  display: inline-block;
  margin-left: 10px;
}
section.product-responsive .bottom-nav .circle-nav{
  border-radius: 22px;


}
section.product-responsive .bottom-nav .circle-inner{
  width: 32px;
  height: 32px;
  border-radius: 22px;
  margin: 0 auto;
  /*border: 2px solid #fff;*/
}
section.product-responsive .bottom-nav .circle-nav{
  width: 40px;
  height: 40px;
  background: #fff;
  padding: 1.5px;
  border: 2px solid #CCCACA
}

section.product-responsive .left-nav , section.product .right-nav {
  height: 100%;
  width: 50px;
}
section.product-responsive .left-nav a{
  color: #DCDCDC;
  width: 50px;
}
section.product-responsive .left-nav a:hover{
  color: #DCDCDC;
  text-decoration: none;
}
section.product-responsive .left-nav {

  font-size: 60px;
  margin-left: 30px;
  color: #cecccc;

}
section.product-responsive .right-nav a{
  color: #B7B7B7;
  width: 50px;
}
section.product-responsive .right-nav {
  font-size: 60px;
  right: 0;
  top: 0;
  position: absolute;
  /*color: #cecccc;*/
}

section.product-responsive .right-nav {
  height: 100%;
  width: 50px;
}
  section.apps-list {
      height: 1020px;

  }

  section.purchase-responsive-image{
    position: relative;
    height: 530px;

  }

  section.purchase-responsive-image img{

    height: 400px;
  }

  section.purchase-responsive-image .image-content {

    margin-left: -5%;

  }


  section.purchase-responsive-content {
    height: 520px;
    position: relative;
  }

  section.purchase-responsive-content .text-content p{
    font-size: 35px;
    font-weight: bold;
    color: #5b6771;
    line-height: 0.1;

  }

  section.purchase-responsive-content .text-content h2{

    font-size: 55px;
    font-weight: bold;
    
  }

  section.purchase-responsive-content .purchase-container{

    margin-top: -90px;

  }
  section.purchase-responsive-content .text-content .more button{

    width: 155px;
    border: none;
    background: #009cff;
    color: #fff;
    font-family: 'Open Sans', sans-serif;

    -webkit-box-shadow: 0px 5px 12px 1px #7dccfe;
    -moz-box-shadow: 5px 0px 12px 1px #7dccfe;
    box-shadow: 0px 5px 12px 1px #7dccfe;
    padding: 10px;
    margin-top: 30px;
    

  }
  section.purchase-responsive-content .purchase-container{
    width: 80%;
    text-align: center;

  }

  .responsive-nav ul {
    right: 70px;

  }
  .responsive-nav ul li{

    display: inline;
    padding: 0 10px 0 10px;

  }


  .responsive-nav a{

    font-size: 30px;


  }


  .colapse-menu {

    margin-top: 15px;

  }

  section.scenic .scenic-bg {
    width: 100%;
    height: 100%;
    background-color: #A79ECA;
    transform: skewY(-3.5deg);
    background: url("../images/clone/scenic_new.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -100px;
  }
  section.partners {
    z-index: 999

  }

  section.partners .partners-bg{
    width: 100%;
    height: 100%;
    background-color: #DA4489;
    transform: skewY(-3.5deg);
    background: url("../images/clone/collab_new.png") no-repeat;
    background-size: 100% 100%;
    margin-top: -90px;
    
  }
  .footer-container{
    /*display: none;*/
  }

  .navbar-default{

    background: #fff;
    border: none;

  }
  .footer-container{
    /*display: none;*/

    padding: 0;
  }

  .footer-container .foot-hold{
    margin: 20px 0 0 40px;

  }
  .footer-container .foot-hold .column-1 {

    padding-bottom: 10px;

  }

  [class^="column-"] {

      margin-bottom: 40px;

  }

  footer {

    font-size: 20px
  }

  footer .footer-container {
    height: 750px;

  }
  footer .footer-container .column-1 .content-container{
    padding: 0;
  }

  .column-1, .column-2, .column-3, .column-4{

    width: 50%;
    float: left;
    padding: 5px;


  }


}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {



}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}